<!-- the part of test -->

<!-- <div style= 'text-align:center'>
  <h1>
    Welcome to {{title}}!
  </h1>
</div> -->
<!--bind the method and properties in the parent component: app.component.ts-->
<!-- <app-user [name]="rootName" (nameChanged)= "onNameChanged($event)"></app-user> -->
<!-- here can override the default value of name-->
<!-- <app-user name = "abc"></app-user>  -->


<!-- <app-dashboard></app-dashboard>
<br>
<app-car [items] = "rootItem" (itemAdded)="onItemWasAdd($event)" ></app-car>  -->

<!-- the part of project -->
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <app-head></app-head>
    </div>
  </div>
  <hr>
  <div class ="row">
    <div class = "col-xs-12">
      <!--load the router at the app components-->
     <router-outlet></router-outlet>
    </div>
  </div>

</div>

